<a href="https://colab.research.google.com/github/Jaheca1964/30-Days-Of-JavaScript/blob/master/Ciencia_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
siniestros = [
    {"Rad": 1001, "fecha": "2023-01-15", "tipo": "Choque", "personas_afectadas": 3},
    {"Rad": 1002, "fecha": "2023-02-10", "tipo": "Atropello", "personas_afectadas": 1},
    {"Rad": 1003, "fecha": "2023-03-05", "tipo": "Volcamiento", "personas_afectadas": 4},
    {"Rad": 1004, "fecha": "2023-04-20", "tipo": "Choque", "personas_afectadas": 2},
    {"Rad": 1005, "fecha": "2023-05-12", "tipo": "Atropello", "personas_afectadas": 5},
]

nuevo_siniestro = {"Rad": 1006, "fecha": "2023-06-01", "tipo": "Choque", "personas_afectadas": 3}
siniestros.append(nuevo_siniestro)


for siniestro in siniestros:
    if siniestro["personas_afectadas"] > 2:
        print(f"Rad: {siniestro['Rad']}, Tipo: {siniestro['tipo']}, Personas afectadas: {siniestro['personas_afectadas']}")

Rad: 1001, Tipo: Choque, Personas afectadas: 3
Rad: 1003, Tipo: Volcamiento, Personas afectadas: 4
Rad: 1005, Tipo: Atropello, Personas afectadas: 5
Rad: 1006, Tipo: Choque, Personas afectadas: 3

In [3]:
import pandas as pd

datos = {
    "Rad": [1001, 1002, 1003],
    "Tipo": ["Choque", "Atropello", "Volcamiento"],
    "Personas": [3, 1, 4]
}

df = pd.DataFrame(datos)
print(df)

    Rad         Tipo  Personas
0  1001       Choque         3
1  1002    Atropello         1
2  1003  Volcamiento         4

In [ ]:
# CSV
df = pd.read_csv("siniestros.csv")

# Excel (requiere openpyxl o xlrd)
df = pd.read_excel("siniestros.xlsx")

In [7]:
import pandas as pd

# Datos simulados
datos = {
    "Rad": [1001, 1002, 1003, 1004, 1005],
    "Fecha": ["2023-01-15", "2023-02-10", "2023-03-05", "2023-04-20", "2023-05-12"],
    "Tipo": ["Choque", "Atropello", "Volcamiento", "Choque", "Atropello"],
    "Personas": [3, 1, 4, 2, 5]
}

# Crear el DataFrame
df = pd.DataFrame(datos)

# Mostrar las primeras filas
print(df.head())

    Rad       Fecha         Tipo  Personas
0  1001  2023-01-15       Choque         3
1  1002  2023-02-10    Atropello         1
2  1003  2023-03-05  Volcamiento         4
3  1004  2023-04-20       Choque         2
4  1005  2023-05-12    Atropello         5

In [9]:
print("Columnas, Tipos de Datos y Valores Nulos:")
print(df.info())

Columnas, Tipos de Datos y Valores Nulos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rad       5 non-null      int64
 1   Fecha     5 non-null      object
 2   Tipo      5 non-null      object
 3   Personas  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [15]:
print("Columnas:", df.columns)
print("Tamaño:", df.shape)
print("Tipos de datos:\n", df.dtypes)
print("\nResumen general:")
print(df.info())

Columnas: Index(['Rad', 'Fecha', 'Tipo', 'Personas'], dtype='object')
Tamaño: (5, 4)
Tipos de datos:
 Rad          int64
Fecha       object
Tipo        object
Personas     int64
dtype: object

Resumen general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rad       5 non-null      int64
 1   Fecha     5 non-null      object
 2   Tipo      5 non-null      object
 3   Personas  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

Tipos de datos:
 Rad          int64
Fecha       object
Tipo        object
Personas     int64
dtype: object

Resumen general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rad       5 non-null      int64
 1   Fecha     5 non-null      object
 2   Tipo      5 non-null      object
 3   Personas  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [16]:
choques = df[df["Tipo"] == "Choque"]
print(choques)

    Rad       Fecha    Tipo  Personas
0  1001  2023-01-15  Choque         3
3  1004  2023-04-20  Choque         2

In [19]:
mas_de_dos = df[df["Personas"] >3]
print(mas_de_dos)

    Rad       Fecha         Tipo  Personas
2  1003  2023-03-05  Volcamiento         4
4  1005  2023-05-12    Atropello         5

In [18]:
ordenado = df.sort_values(by="Personas", ascending=False)
print(ordenado)

    Rad       Fecha         Tipo  Personas
4  1005  2023-05-12    Atropello         5
2  1003  2023-03-05  Volcamiento         4
0  1001  2023-01-15       Choque         3
3  1004  2023-04-20       Choque         2
1  1002  2023-02-10    Atropello         1

In [20]:
def clasificar_gravedad(personas):
    if personas >= 4:
        return "Alta"
    elif personas == 3:
        return "Media"
    else:
        return "Baja"

df["Gravedad"] = df["Personas"].apply(clasificar_gravedad)
print(df)

    Rad       Fecha         Tipo  Personas Gravedad
0  1001  2023-01-15       Choque         3    Media
1  1002  2023-02-10    Atropello         1     Baja
2  1003  2023-03-05  Volcamiento         4     Alta
3  1004  2023-04-20       Choque         2     Baja
4  1005  2023-05-12    Atropello         5     Alta

In [21]:
# Una sola columna
print(df["Tipo"])

# Varias columnas
print(df[["Rad", "Tipo", "Personas"]])

0         Choque
1      Atropello
2    Volcamiento
3         Choque
4      Atropello
Name: Tipo, dtype: object
    Rad         Tipo  Personas
0  1001       Choque         3
1  1002    Atropello         1
2  1003  Volcamiento         4
3  1004       Choque         2
4  1005    Atropello         5

In [22]:
# Siniestros después de cierta fecha
filtrados = df[df["Fecha"] > "2023-03-01"]
print(filtrados)

    Rad       Fecha         Tipo  Personas Gravedad
2  1003  2023-03-05  Volcamiento         4     Alta
3  1004  2023-04-20       Choque         2     Baja
4  1005  2023-05-12    Atropello         5     Alta

In [23]:
# Siniestros que son Atropellos y tienen más de 2 personas
cond = (df["Tipo"] == "Atropello") & (df["Personas"] > 2)
print(df[cond])

    Rad       Fecha       Tipo  Personas Gravedad
4  1005  2023-05-12  Atropello         5     Alta

In [24]:
print("Promedio de personas afectadas:", df["Personas"].mean())
print("Máximo:", df["Personas"].max())
print("Mínimo:", df["Personas"].min())
print("Conteo de tipos de siniestro:")
print(df["Tipo"].value_counts())

Promedio de personas afectadas: 3.0
Máximo: 5
Mínimo: 1
Conteo de tipos de siniestro:
Tipo
Choque         2
Atropello      2
Volcamiento    1
Name: count, dtype: int64

In [25]:
# Número total de personas afectadas por tipo de siniestro
agrupado = df.groupby("Tipo")["Personas"].sum()
print(agrupado)

Tipo
Atropello      6
Choque         5
Volcamiento    4
Name: Personas, dtype: int64

In [26]:
# Ver cuántos valores nulos hay por columna
print(df.isnull().sum())

# Ver filas con valores nulos
print(df[df.isnull().any(axis=1)])

Rad         0
Fecha       0
Tipo        0
Personas    0
Gravedad    0
dtype: int64
Empty DataFrame
Columns: [Rad, Fecha, Tipo, Personas, Gravedad]
Index: []

In [28]:
# Ver filas duplicadas completas
duplicados = df[df.duplicated()]
print(duplicados)

# Eliminar duplicados
df = df.drop_duplicates()

Empty DataFrame
Columns: [Rad, Fecha, Tipo, Personas, Gravedad]
Index: []

In [30]:
# Ver tipos de datos de cada columna
print(df.dtypes)

# Convertir columna a tipo fecha
df["Fecha"] = pd.to_datetime(df["Fecha"], errors="coerce")

# Convertir columna a categoría
df["Tipo"] = df["Tipo"].astype("category")

Rad                  int64
Fecha       datetime64[ns]
Tipo                object
Personas             int64
Gravedad            object
dtype: object